<div class="login_container text-center">
    <form method="post" action="/room" class="form-signin">
        <!-- <img class="mb-4" src="https://getbootstrap.jp/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72"> -->
        <div class="index_App_name m-0 h5 text-white d-flex align-items-center justify-content-center">
                <h1 class="mb-0 mr-2 text-info">&lt;</h1>
                <h1 class="mb-0 mr-2" style="color:#ffd700;">IPPON</h1>
                <h1 class="mb-0 mr-2">hub</h1>
                <h1 class="mb-0 text-info">/&gt;</h1>
        </div>

        <h1 class="h3 mb-3 font-weight-normal mt-4">please sign in</h1>
        <div class="index-user_name">
            <label for="input_username" class="sr-only">User Name</label>
            <input type="text" id="userName" name="userName" class="form-control" placeholder="User Name" required
                autofocus>
        </div>


        <div class="index-enter mx-auto pb-5 mt-4">
            <input type="button" value="Sign in" class="common-button index-enter_button btn btn-lg btn-primary btn-block" onclick="enter();">
        </div>
        <!-- <div class="sign-up_container d-flex flex-row">
            <h1 class="h6 mb-3 font-weight-normal mr-4"> Not have an account?</h1>
            <a class="h6 mb-3 font-weight-normal" style="color: darkcyan;" href="https://github.com/rkclhack/hackathon-oa-A"> Sign up here</a>
        </div> -->
        
    </form>
</div>

<script src="/javascripts/index.js"></script>