<div class="container-fluid p-0">
    <header class="global_header d-flex ">
        <!-- <div class="row" style="height: 50px; width: 100%;"> -->
            <div class="App_name mr-auto m-0 h5 text-white d-flex align-items-center flex-row pl-4">
                <h1 class="mb-0 mr-2 text-info">&lt;</h1>
                <h1 class="mb-0 mr-2" style="color:#ffd700;">IPPON</h1>
                <h1 class="mb-0 mr-2">hub</h1>
                <h1 class="mb-0 text-info">/&gt;</h1>
            </div>

            <div class="create_theme_container d-flex align-items-center m-0">
                <a class="create_theme m-2 pl-2 pr-2 pb-1 pt-2" href="">+New IPPON</a>
            </div>
            <div class="header-login_user d-flex align-items-center ml-5 mt-0 mb-0">
                <h4 class="header_user_name h4 ml-3 mr-3 mb-0">{{userName}}</h4>
                <input id="userName" type="hidden" value="{{userName}}">
                <div class="header_icon  text-white h3 ml-3 mr-3 mb-0 ">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="header_icon rounded-circle bg-secondary text-white h3 ml-3 mr-3 mb-0">
                    <i class="fas fa-user"></i>
                </div>
            </div>
    </header>
    <main class="user_main_page container-fluid">
        <div class="row">
            <div class="user_profile_container col-md-5 col-12">
                <div class="user_profile m-4 p-3">
                    <!-- <div class="mt-4 p-0" style="height: 10px;"></div> -->
                    <div class="user_profile_icon mx-auto rounded-circle bg-secondary text-white h1 mb-4">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="user_profile_name h3 text-center">
                        <!-- {{userName}} -->
                        aaa
                    </div>
                    <!-- リンク集 -->
                    <div class="user_profile_link mt-2 mb-2 d-flex justify-content-center">
                        <a class="user_profile_link_item mr-4 ml-4 mb-2 mt-3" href="https://twitter.com/AI_yamadaNLP">
                            <img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Twitter-logo.svg"
                                alt="" height="24">
                        </a>
                        <a class="user_profile_link_item mr-4 ml-4 mb-2 mt-3"
                            href="https://www.youtube.com/channel/UCSVTnzAGFSHPPGYGtQlzvtQ">
                            <img class="mb-2"
                                src="https://upload.wikimedia.org/wikipedia/commons/0/09/YouTube_full-color_icon_%282017%29.svg"
                                alt="" height="24">
                        </a>
                    </div>
                    <!-- 分割のライン -->
                    <div class="d-flex justify-content-center">
                        <div class="border m-0"></div>
                    </div>
                    <!-- 自己紹介 -->
                    <div class="d-flex justify-content-center">
                        <div class="user_profile_introduction text-center">
                            私が書いたコードにバグが発生するのは仕方ないとして，それ以上にプログラミング言語が破壊される現象については勘弁して欲しい(切実)
                        </div>
                    </div>
                </div>
                <!-- <div class="user_follow_tag m-2 p-3">
                    <h5>フォロー中のタグ</h5>
                    <div class="follow_tags d-flex flex-wrap mb-0">
                        <a class="follow_tag m-2 pl-2 pr-2 pb-1 pt-1" href="https://www.python.jp/">
                            python
                        </a>
                        <a class="follow_tag m-2 pl-2 pr-2 pb-1 pt-1" href="https://www.python.jp/">
                            python
                        </a>
                        <a class="follow_tag m-2 pl-2 pr-2 pb-1 pt-1" href="https://www.python.jp/">
                            python
                        </a>
                        <a class="follow_tag m-2 pl-2 pr-2 pb-1 pt-1" href="https://www.python.jp/">
                            python
                        </a>
                    </div>
                </div> -->
            </div>
            <div class="user_content_container col-md-7 col-12">
                <div class="user_theme_container p-2 ">
                    <div class="theme_title text-center h4 mt-2" style="font-weight: bold;">
                        投稿したお題
                    </div>
                    <div class="user_theme_list">
                        <div class="one_theme m-4">
                            <div class="post_date pl-2 mb-0 mt-0">
                                2022/ 11/ 1
                            </div>
                            <div class="theme_content mb-0 mt-0 h5 p-1 ">
                                「せ，先輩すみません！」何があった？
                            </div>
                            <!-- <div class="theme_tags_container mb-0 mt-0 d-flex flex-row">
                                <div class="content_icon m-0 ">
                                    <i class="fas fa-tags"></i>
                                </div>
                                <div class="theme_tags d-flex flex-wrap m-0">
                                    <a class="theme_tag  pl-2 pr-2 pb-1 pt-1 m-2 " href="https://www.python.jp/">
                                        駆け出しエンジニア
                                    </a>
                                    <a class="theme_tag  pl-2 pr-2 pb-1 pt-1 m-2 " href="https://www.python.jp/">
                                        失敗
                                    </a>
                                </div>
                            </div> -->
                            <div class="theme_posted mb-0 mt-0 d-flex flex-row">
                                <div class="content_icon m-0 ">
                                    <i class="fas fa-comment"></i>
                                </div>
                                <div class="user_sillay_evaluation m-0">
                                    200
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="one_theme m-4">
                            <div class="post_date pl-2 mb-0 mt-0">
                                2022/ 10/ 7
                            </div>
                            <div class="theme_content mb-0 mt-0 h5 p-1 ">
                                「インフラエンジニアです！」「どのようなご経験を？」
                            </div>
                            <!-- <div class="theme_tags_container mb-0 mt-0 d-flex flex-row">
                                <div class="content_icon m-0 ">
                                    <i class="fas fa-tags"></i>
                                </div>
                                <div class="theme_tags d-flex flex-wrap m-0">
                                    <a class="theme_tag  pl-2 pr-2 pb-1 pt-1 m-2 " href="https://www.python.jp/">
                                        駆け出しエンジニア
                                    </a>
                                    <a class="theme_tag  pl-2 pr-2 pb-1 pt-1 m-2 " href="https://www.python.jp/">
                                        AWS
                                    </a>
                                    <a class="theme_tag  pl-2 pr-2 pb-1 pt-1 m-2 " href="https://www.python.jp/">
                                        Linux
                                    </a>
                                </div>
                            </div> -->
                            <div class="theme_posted mb-0 mt-0 d-flex flex-row">
                                <div class="content_icon m-0 ">
                                    <i class="fas fa-comment"></i>
                                </div>
                                <div class="user_sillay_evaluation m-0">
                                    200
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_silly_container p-2 ">
                    <div class="theme_title text-center h4 mt-2" style="font-weight: bold;">
                        投稿したボケ
                    </div>
                    <div class="user_silly_list">
                        <div class="one_theme">
                            <div class="post_date pl-2 mb-0 mt-0">
                                2022/ 11/ 1
                            </div>
                            <div class="silly_content mb-0 mt-0 h5 p-1 bg-light">
                                電話の電源を落とす
                            </div>
                            <div class="silly_eval_container mb-0 mt-0 d-flex flex-row">
                                <div class="content_icon m-0 ">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="user_sillay_evaluation m-0">
                                    200
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<!-- <script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script> -->
<script src="/javascripts/socket.js"></script>
<!-- <script src="/javascripts/newTheme.js"></script> -->
<script src="/javascripts/index.js"></script>
<link rel="stylesheet" href="/stylesheets/users.css"/>